#login-box {
    border-radius: 25px;
    margin-top: 5%;
    background-color: white;
    width: 400px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.login-project-name {
    font-size: 2em;
    align-self: flex-end;
}
.login-button-placement {
    padding-top: 5px;
}